<link rel="stylesheet" href="{{ 'yamato-banner.css' | asset_url }}" type="text/css">

<div class="banner-three page-width yamato-commitment">
  <div class="banner-wrapper fade">
    <a href="https://yamato-kumamoto.com/" target="_blank">
      <img src="{{ 'banner-foot-shop_2x.png' | asset_url }}" alt="" width="700" height="200" loading="lazy">
    </a>
  </div>
  <div class="banner-wrapper fade">
    <a href="https://www.town.kumamoto-yamato.lg.jp/" target="_blank">
      <img src="{{ 'banner-foot-town_2x.png' | asset_url }}" alt="" width="700" height="200" loading="lazy">
    </a>
  </div>
  <div class="banner-wrapper fade">
    <a href="https://jibiekoubou.thebase.in/" target="_blank">
      <img src="{{ 'banner-foot-gibier_2x.png' | asset_url }}" alt="" width="700" height="200" loading="lazy">
    </a>
  </div>
</div>
