{% if collection.metafields.custom_fields["title_en"] != blank %}
  <div class="custom-field custom-field__title-en custom-field__type--text">
    <h3 class="custom-field--title">title_en</h3>
    <div class="custom-field--value">
      {{ collection.metafields.custom_fields["title_en"] }}
    </div>
  </div>
{% endif %}