<link rel="stylesheet" href="{{ 'yamato-shopping-guide.css' | asset_url }}" type="text/css">

<div class="bgc shopping-guide yamato-commitment" id="guide">
  <div class="page-width">
    <h2 class="heading">
      <small>お買い物ガイド</small>
      <span class="heading-label alphabet">shopping guide</span>
    </h2>

    <div class="guide-content">
      <div class="guide-column">
        <h3 class="guide-heading-large">商品のお届け</h3>

        <h4 class="guide-heading-small">ご注文</h4>
        <p class="guide-text">定期宅配（毎週・隔週）と、その都度のご注文をお選びいただけます。</p>

        <h4 class="guide-heading-small">発送日</h4>
        <p class="guide-text">
          ご注文日から発送日が決まります。<br>
          ご注文をキャンセルされる場合は、発送予定日の7日前の受付時間内までにメールまたはお電話でご連絡ください。
        </p>

        <table class="guide-table" data-scrollable="false">
          <thead>
            <tr>
              <th class="table-bg table-center">ご注文日</th>
              <th class="table-bg table-center">発送予定日</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th class="table-cell table-center">水曜・木曜</th>
              <td class="table-cell table-center">翌月曜</td>
            </tr>
            <tr>
              <th class="table-cell table-center">金曜・土曜・日曜</th>
              <td class="table-cell table-center">翌水曜</td>
            </tr>
            <tr>
              <th class="table-cell table-center">月曜・火曜</th>
              <td class="table-cell table-center">当週金曜</td>
            </tr>
          </tbody>
        </table>

        <ul>
          <li class="guide-note">※年末年始、祝日等を含む場合は発送日が変更となる場合がありますのでご了承ください。</li>
        </ul>

        <h4 class="guide-heading-small">お届け予定日</h4>
        <p class="guide-text">地域により発送からのお届け予定日が異なります。</p>

        <table class="guide-table" data-scrollable="false">
          <thead>
            <tr>
              <th class="table-bg table-center">地域</th>
              <th class="table-bg table-center">お届け日</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th class="table-cell table-center">九州（沖縄県を除く）・山口県内</th>
              <td class="table-cell table-center">発送日の翌日</td>
            </tr>
            <tr>
              <th class="table-cell table-center">関西・中国・中部</th>
              <td class="table-cell table-center">発送日の翌日14時以降</td>
            </tr>
            <tr>
              <th class="table-cell table-center">関東・四国・東北・北陸・信越</th>
              <td class="table-cell table-center">発送日の翌々日</td>
            </tr>
          </tbody>
        </table>

        <ul>
          <li class="guide-note margin-bottom-none">※北海道、沖縄、離島への発送はお問い合わせください。</li>
          <li class="guide-note">※宅配事業社の事情により到着が遅れる場合がありますのでご了承ください。</li>
        </ul>

        <h4 class="guide-heading-small">配送時間</h4>
        <p class="guide-text">午前中 / 14-16時 / 16-18時 / 18-20時 / 19-21時 の時間帯からお選びいただけます。</p>
      </div>

      <div class="guide-column">
        <h3 class="guide-heading-large">お支払い方法</h3>

        <h4 class="guide-heading-small">クレジットカード</h4>
        <p class="guide-text">
          クレジットカードの種類は、VISA / Master / JCB / AMEX の4種類がご利用いただけます。支払時期はカード会社に準じます。
        </p>

        <h4 class="guide-heading-small">代金引換</h4>
        <p class="guide-text">
          都度注文で商品代金引換を選択された場合は、ヤマト便の代金引換便にてお届けいたします。商品のお受け取りの際に、商品代金+送料+代引き手数料（330円）をお支払いください。定期購入の場合は、クレジット決済のみとなります。
        </p>

        <h3 class="guide-heading-large">配送方法・送料</h3>
        <p class="guide-text">
          ヤマト運輸でお届けいたします。<br>
          生鮮品のため年中クール便でのお届けとなります。
        </p>

        <table class="guide-table" data-scrollable="false">
          <thead>
            <tr>
              <th class="table-bg table-center">地域</th>
              <th class="table-bg table-center">送料（野菜セット1箱の価格）</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th class="table-cell table-center">九州・中国</th>
              <td class="table-cell table-center">700円</td>
            </tr>
            <tr>
              <th class="table-cell table-center">四国・関西・中部・北陸</th>
              <td class="table-cell table-center">900円</td>
            </tr>
            <tr>
              <th class="table-cell table-center">関東・信越</th>
              <td class="table-cell table-center">1,300円</td>
            </tr>
            <tr>
              <th class="table-cell table-center">東北</th>
              <td class="table-cell table-center">1,600円</td>
            </tr>
            <tr>
              <th class="table-cell table-center">北海道・沖縄</th>
              <td class="table-cell table-center">2,300円</td>
            </tr>
          </tbody>
        </table>

        <ul>
          <li class="guide-note">※離島への発送はお問い合わせください</li>
        </ul>

        <h3 class="guide-heading-large">お問い合わせ先</h3>
        <div class="guide-contact">
          <dl class="guide-contact-list">
            <dt>販売事業社名</dt>
            <dd>株式会社 肥後やまと</dd>
            <dt>販売責任者</dt>
            <dd>原田幸二</dd>
            <dt>所在地</dt>
            <dd>〒861-3784 熊本県上益城郡山都町川野362</dd>
            <dt class="alphabet">TEL</dt>
            <dd>
              <a href="tel:0967-72-0565">
                0967-72-0565
                <span>（平日10:00~16:00）</span>
              </a>
            </dd>
            <dt class="alphabet">MAIL</dt>
            <dd>
              <a class="alphabet" href="mailto:higo-yamato@poppy.ocn.ne.jp">admin@yamanomiyakono-yaoyasan.shop</a>
            </dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>