<link rel="stylesheet" href="{{ 'yamato-site-footer.css' | asset_url }}" type="text/css">

{% render 'banner-three' %}
{% render 'shopping-guide' %}
{% render 'footer-nav' %}

<footer class="page-width yamato-commitment">
  <div class="site-footer">
    <div class="site-footer-logo">
      <img src="{{ 'site-logo.png' | asset_url }}" alt="山の都のやおやさんのロゴ" width="1029" height="997" loading="lazy">
    </div>
    <small class="site-footer-copyright alphabet">
      Copyright &copy;YAMANOMIYAKONO YAOYASAN All Rights Reserved.
    </small>
  </div>
</footer>