<header class="collection-header">
  {%- assign hero_img = 'privacy_hero_2x.jpg' | asset_url -%}
  <!-- {{ hero_img }} -->
  <div class="collection-hero">
    <div class="collection-hero__image" style="background-image: url({{ hero_img }});"></div>
    <div class="collection-hero__title-wrapper">
      <h1 class="collection-hero__title">
          <span class="visually-hidden">プライバシーポリシー: </span>
          プライバシーポリシー
          <small>PRIVACY POLICY</small>
      </h1>
    </div>
  </div>
</header>

<div class="page-width">
  {% include 'topic-path' %}
</div>

<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="rte">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>
